*{
    color: white;
    font-family: 'American Typewriter', 'Trebuchet MS', 'sans-serif';
}

body{
    background-color: rgb(24, 24, 24);
    overflow: hidden;

}

.game-container
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-bar
{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid;
    border-bottom-color:rgb(116, 116, 116);
}


.title-container
{
    display: inline;
    font-size: 20px;
    justify-content: center;
    padding-bottom: 5px;
    padding-top: 5px;

}

.board-container
{
    display: inline-grid;
    grid-template-rows: 65px 65px 65px 65px 65px 65px;
    grid-gap: 6px;
    padding-top: 60px;
    justify-content: center;

}

.row0
{
    display: inline-grid;
    grid-template-columns: 65px 65px 65px 65px 65px;
    grid-template-rows: 65px 65px 65px 65px 65px 65px;
    grid-gap: 6px;
    padding: 20px;
    backface-visibility: hidden;
}

.row1
{
    display: inline-grid;
    grid-template-columns: 65px 65px 65px 65px 65px;
    grid-template-rows: 65px 65px 65px 65px 65px 65px;
    grid-gap: 6px;
    padding: 20px;
    backface-visibility: hidden;
}

.row2
{
    display: inline-grid;
    grid-template-columns: 65px 65px 65px 65px 65px;
    grid-template-rows: 65px 65px 65px 65px 65px 65px;
    grid-gap: 6px;
    padding: 20px;
    backface-visibility: hidden;
}

.row3
{
    display: inline-grid;
    grid-template-columns: 65px 65px 65px 65px 65px;
    grid-template-rows: 65px 65px 65px 65px 65px 65px;
    grid-gap: 6px;
    padding: 20px;
    backface-visibility: hidden;
}

.row4
{
    display: inline-grid;
    grid-template-columns: 65px 65px 65px 65px 65px;
    grid-template-rows: 65px 65px 65px 65px 65px 65px;
    grid-gap: 6px;
    padding: 20px;
    backface-visibility: hidden;
}

.row5
{
    display: inline-grid;
    grid-template-columns: 65px 65px 65px 65px 65px;
    grid-template-rows: 65px 65px 65px 65px 65px 65px;
    grid-gap: 6px;
    padding: 20px;
    backface-visibility: hidden;
}

.square
{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 27px;
    text-align: center;
    line-height: 57px;
    border: 2px solid rgb(116, 116, 116);
}


.square-pop
{
    animation-name: pop;
    animation-duration: 150ms;
}

@keyframes pop
{
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.07, 1.07);
    }
      
}

.row-shake
{
    animation-name: shake;
    animation-duration: 150ms;
    animation-iteration-count: 3;
}

@keyframes shake
{
    0% {
        transform: translate(0px);
    }
    20% {
        transform: translate(3px);
    }
    75% {
        transform: translate(-6px);
    }

}

.winning-bounce 
{
    animation-name: bounce;
    animation-duration: 1s;
}

@keyframes bounce
{
    25% {
        transform: translate(0px, -30px)
    }
    50% {
        transform: translate(0px, 7px)
    }
    75% {
        transform: translate(0px, -10px)
    }
}

.winning-bounce:nth-child(1) { animation-delay: .1s }
.winning-bounce:nth-child(2) { animation-delay: .3s }
.winning-bounce:nth-child(3) { animation-delay: .5s }
.winning-bounce:nth-child(4) { animation-delay: .7s }
.winning-bounce:nth-child(5) { animation-delay: .9s }


.tile-flip
{
    animation-name: fleep;
    animation-duration: .7s;
    transform-origin: 100% 32.5px
}

@keyframes fleep
{
    50% 
    {
        transform: rotateX(90deg);
    }

}

.tile-flip:nth-child(1) { animation-delay: 0s }
.tile-flip:nth-child(2) { animation-delay: .3s }
.tile-flip:nth-child(3) { animation-delay: .6s }
.tile-flip:nth-child(4) { animation-delay: .9s }
.tile-flip:nth-child(5) { animation-delay: 1.2s }



